<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NetworkEntities" connectionString="metadata=res://*/DBModal.csdl|res://*/DBModal.ssdl|res://*/DBModal.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DELL-PC\SURESHS;Initial Catalog=Network;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FF_Network_.Properties.Settings.NetworkConnectionString"
      connectionString="Data Source=DELL-PC\SURESHS;Initial Catalog=Network;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>